@font-face {
  font-family: jack;
  src: url('./fonts/JackSimba.otf') format("truetype");
}

@font-face {
  font-family: teen;
  src: url('./fonts/teen.ttf') format("truetype");
}
@font-face {
  font-family: roboto;
  src: url('./fonts/Roboto.ttf') format("truetype");
}


/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .input-search {
    width: 100% !important;
  }
  .search-button {
    width: 100% !important;
  }
  .cat-card {
    width: 100% !important;
  }
}

/* For Tablet View */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
  .input-search {
    width: 80% !important;
  }
  .search-button {
    width: 80% !important;
  }
  .cat-card {
    width: 80% !important;
  }
}


.padding-fix{
  padding: 12px;
}
